
 @import "desktop.css";


@media screen and  (max-width:741px)  { 

    .pizza{height: 250px;width: 250px;right: 0;top: 420px;}

    .top-menu-title{margin:auto;margin-top: 10px;margin-bottom: 10px;}
    .top-menu{flex-direction: column;padding:50px 0 0 0; height: 300px;}
    .top-menu nav{margin: auto;margin-top: 10px;margin-bottom: 10px;}
    .top-menu-select{padding:0;}
    .top-tab{width: 80px;height: 40px;font-size: 12px;}
    .top-menu-icons{margin: auto;margin-top: 20px;width: 180px;}

    .section1{padding-top: 0px;}
    .section1-inner{padding: 0;margin: auto;width: 90%;}
    .s1-title{font-size: 32px;line-height: 36px;}
    .s1-description{font-size:14px;line-height: 15px;}
    .search-box{max-width: 100%;}
    .search-button{font-size: 14px;padding: 0 17px;line-height: 15px;}
    .search-box-field img{padding:0 10px;width: 15px;}
    .search-box input{height: 40px;font-size: 14px;line-height: 15px;}

    .section2-inner{padding: 40px 20px;}
    .s2-head{flex-direction: column;}
    .s2-head-left-small{margin: 0;font-size: 16px;}
    .s2-head-left-big{font-size:28px;line-height: 30px;}
    .s2-head-left{margin-bottom: 10px;width: 95%;}
    .s2-head-right{margin-bottom: 10px;width: 95%;font-size: 14px;line-height: 17px;}
    .s2-items{margin:0;}
    .s2-items ul{height:370px;margin:0;padding:0;overflow-x: scroll;border-top: 2px solid #52342944;border-bottom: 2px solid #52342944;}
    .service-element{height: 255px;width: 250px;margin-right: 0px;max-width: unset;padding-bottom: 35px;}
    .service-element-inner{width: 200px;}
    .service-icon img{width: 75px;}
    .service-title{font-size: 18px;line-height: 20px;}
    .service-description{font-size: 12px;line-height: 14px;}

    .section3-inner{padding: 20px 20px;}
    .s3-menu-texts-small{margin: 0;font-size: 16px;}
    .s3-menu-texts-big{font-size:28px;line-height: 30px;margin-bottom: 10px;}
    .s3-menu-texts-description{margin-bottom: 10px;width: 95%;font-size: 14px;line-height: 17px;}
    .s3-menu-scroll{max-height: 180px;}
    .s3-menu-scroll ul{border-left: #52342944 solid 2px;border-right: #52342944 solid 2px;}
    .s3-list-element{height: 40px;font-size: 14px;line-height: 15px;}
    .s3-items{margin-top: 10px;border-top: 2px solid #52342944;border-bottom: 2px solid #52342944;}
    .s3-item{height: 375px;width: 150px;min-width: unset;max-width: unset;margin-left: unset;margin: 10px 10px 30px 10px;}
    .s3-item-image img{width: 150px;height: 150px;}
    .s3-item-name{font-size: 18px;line-height: 20px;padding-top: 7px;}
    .s3-item-price{margin-top: 5px;font-size: 14px;line-height: 15px;}
    .s3-item-price-cost{font-size: unset;line-height: unset;}
    .s3-item-price-rating img{width: 12px;}
    .s3-item-details{font-size: 12px;line-height: 13px;padding: 2px 0;}
    .size-button{font-size: 10px;line-height: 12px;}
    .s3-add-to-cart{font-size: 12px;line-height: 13px;width: 100%;padding: 10px 10px;margin-top: 5px;}
    .s3-add-to-cart img{width: 15px;margin-right: 5px;}

    .section4-inner{padding: 40px 20px;}
    .s4-head{flex-direction: column;}
    .s4-head-left-small{margin: 0;font-size: 16px;}
    .s4-head-left-big{font-size:28px;line-height: 30px;}
    .s4-head-left{margin-bottom: 10px;width: 95%;}
    .s4-head-right{margin-bottom: 10px;width: 95%;font-size: 14px;line-height: 17px;}
    .s4-items{border-top: 2px solid #52342944;border-bottom: 2px solid #52342944;}
    .s4-items ul{padding: 0;padding-bottom: 50px;}
    .s4-item-element{height: 300px;margin-bottom: 0;}
    .s4-item-element-inner{height: 100%;text-align: left;}
    .s4-item-photo img{width: 160px;height: 120px;}
    .s4-item-details{flex-direction: column;padding: 5px 5px;}
    .s4-item-info{font-size: 16px;line-height: 18px;padding-top: 0px;padding-left: 10px;}
    .s4-item-name-promo{max-width: unset;}
    .s4-item-name{font-size: 15px;line-height: 16px;max-width: unset;}
    .s4-item-promo{font-size: 14px;line-height: 15px;max-width: unset;}
    .s4-item-price{font-size: 15px;line-height: 16px;padding-top: 10px;width: 100%;}

    #map{width: 300px;height: 300px;}
    .section5-inner{padding: 0;}
    .s5-kontakt{width: 90%; min-width: unset; margin: 0;}
    .s5-kontakt-texts-small{margin: 0;font-size: 16px;}
    .s5-kontakt-texts-big{font-size:28px;line-height: 30px;margin-bottom: 10px;}
    .s5-items ul{flex-wrap: wrap;width: 100%;padding-top: 20px;}
    .s5-items li{width: 47%;height: 50px;margin: 5px 5px;justify-content: flex-start;}
    .s5-kontakt-name{font-size: 13px;line-height: 14px;}
    .s5-kontakt-details{font-size: 10px;line-height: 11px;width: 90px;}
    .s5-item-inner img{width: 18px;padding-left: 10px;}
    
    .section6-inner{margin: 40px 20px;}
    .s6-head{flex-direction: column;}
    .s6-title{margin: 0;font-size: 16px;padding-top: 20px;}
    .s6-text{font-size:24px;line-height: 30px; width: 95%;}
    .s6-description{font-size: 18px;line-height: 20px;width: 90%;}
    .s6-email{width: 90%;height: 45px;}
    .s6-email input{font-size: 12px;}
    .s6-email button{font-size: 12px;}

    .foot{padding: 10px 10px;}
    .foot-left{width: 100%;}
    .foot-left-description{width: 90%;font-size: 14px;line-height: 18px;padding: 10px 0;}
    .foot-left-socials{margin-bottom: 20px;display:flex;justify-content: center;}
    .foot-right{width: 100%;}
    .foot-right a{padding-top: 10px;}
    .foot-right-touch{margin-bottom: 100px;}










    
    .menu-section1-inner{padding: 0;margin: auto;width: 90%;}
    .menu-s1-title{font-size: 32px;line-height: 36px;}
    .menu-s1-description{font-size:14px;line-height: 15px;}
    .menu-search-box{max-width: 100%;}
    .menu-search-button{font-size: 14px;padding: 0 17px;line-height: 15px;}
    .menu-search-box-field img{padding:0 10px;width: 15px;}
    .menu-search-box input{height: 40px;font-size: 14px;line-height: 15px;}

    .s2-menu-left{width: 90%;}
    .s2-menu-left-again{width: 90%;}
    .s2-menu-left-text-big{font-size: 24px;line-height: 26px;}
    .s2-menu-left-text-small{font-size: 18px;line-height: 20px;}
    .menu-s2-daily ul{width: 95%;padding: unset; margin: auto;justify-content: center;margin-top: 40px;}
    .menu-s2-daily-item{width: 40%;min-width: unset;height: 120px;margin:10px 10px;}
    .menu-s2-daily-day{font-size: 16px;line-height: 17px;font-weight: 600;}
    .menu-s2-daily-description{font-size: 14px;line-height: 15px;}
    .menu-s2-daily-price{font-size: 18px;line-height: 24px;}
    .s2-menu-left-icon{width: 120px;height: 50px;min-height: unset;max-height: unset;min-width: 50px;max-width: 50px;}
    .s2-menu-right-icon{width: 50px;height: 50px;min-height: unset;max-height: unset;min-width: 50px;max-width: 50px;}
    .s2-menu-right-text-small{font-size: 18px;line-height: 20px;}
    .s2-menu-right-text-big{font-size: 24px;line-height: 26px;}
    .s2-combo-items{border-top: 2px solid #52342944;border-bottom: 2px solid #52342944;}
    .s2-combo-item{width: 320px;margin-bottom: 0;}
    .s2-menu-all-content{width: 260px;}
    .s2-menu-item-content{padding-left: 7px;}
    .s2-img-menu-item{width: 90px;height: 110px;}
    .s2-menu-item-title{font-size: 18px;line-height: 20px;}
    .s2-menu-item-name{line-height: 22px;}
    .s2-menu-item-price{font-size: 20px; line-height: 22px;}

    .s3-menu-tabbing{padding-left: 10px;border-top: 2px solid #52342944;border-bottom: 2px solid #52342944;margin-bottom: 20px;}
    .s3-menu-tabbing li{margin: 10px 10px;padding: 5px 10px;}
    .s3-menu-tabbing img{width: 22px;height: 22px;margin-right: 5px;}
    .s3-menu-tabbing-text{font-size: 14px;}
    .s3-menu-tab-pizza{flex-wrap: nowrap;}






    
    .uber-section1-inner{padding: 0;margin: auto;width: 90%;}
    .uber-s1-title{font-size: 32px;line-height: 36px;}
    .uber-s1-description{font-size:14px;line-height: 15px;}
    .button-to-order{width: 250px;height: 50px;font-size: 20px;}
    
    .uber-s2-head-left-big{margin: 0;font-size: 16px;}
    .uber-s2-head-left-small{font-size:28px;line-height: 30px;}
    .gallery-top img{width: 160px;height: 120px;}
    .gallery1{overflow-x: scroll;border-top: 2px solid #52342944;border-bottom: 2px solid #52342944;margin-bottom: 20px;}
    .gallery1 img{width: 320px;height: 240px;}
    .gallery2{overflow-x: scroll;border-top: 2px solid #52342944;border-bottom: 2px solid #52342944;margin-bottom: 20px;}
    .gallery2 img{width: 320px;height: 240px;}
    .section1-item-inner{padding: 0px 0 0 0;margin-top: 50px;}

    .item-detail-fullimage {width: 100px;height: 70px;padding: 20px 20px;margin-right: 0;}
    .item-detail-fullimage img{width: 70px;height: 70px;}
    .item-detail-description{min-width: unset;width: 200px;margin:0;}
    .item-detail-image{width: 100px;min-width: unset;height: 70px;margin-bottom: 0;}
    .item-detail-name{font-size: 30px;line-height: 40px;}
    .item-detail-info-small img{width: 10px;height: 10px;}
    .item-detail-info-small{font-size: 15px;line-height: 16px;}
    .item-detail-info-small+.item-detail-info-small{margin: 0 0 0 5px;}
    .item-detail-text-bigger{font-size: 14px;line-height: 15px;margin-top: 10px;}
    .item-detail-text-smaller{font-size: 12px;line-height: 13px;margin-top: 10px;}
    .item-details-price{padding: 20px 60px;min-width: 200px;margin-top: 50px;}
    .item-details-price-head-left{width: 150px;}
    .item-details-price-head-left-small{font-size: 16px;line-height: 17px;}
    .item-details-price-head-left-bigger{font-size: 20px;line-height: 20px;}
    .item-detail-add-note{margin-top: 5px;}
    .item-details-price input{padding: 10px 10px; font-size: 12px;}
    .item-detail-button{margin-top: 15px;font-size: 15px;line-height: 50px;}
    .item-detail-button img{width: 20px;}



    .detail-section1-inner{margin-top: 0px;padding-bottom: 0px;}
    .item-detail-image{width: 100px;min-width: unset;height: 70px;margin-bottom: 0;}
    .triple-head-details-title{font-size: 30px;line-height: 30px;}
    .triple-head-details-info img{width: 10px;height: 10px;}
    .triple-head-details-info-element{font-size: 15px;line-height: 16px;}
    .triple-head-details-info-element+.triple-head-details-info-element{margin: 0 0 0 5px;}
    .triple-head-details{width: 250px;margin-bottom: 20px;}
    .triple-head-title{margin-bottom: 20px;}
    .triple-head-title-under{font-size: 12px;line-height: 14px;}
    
    .triple-head-price{padding: 20px 60px;min-width: unset;margin-top: 0px;padding: 10px 25px;width: 250px;}
    .item-details-price-head-left{width: 150px;}
    .triple-head-price-head-left-title{font-size: 16px;line-height: 17px;}
    .triple-head-price-head-left-price{font-size: 20px;line-height: 20px;}
    .add-note{margin-top: 5px;}
    .add-note input{padding: 10px 10px; font-size: 12px;}
    .triple-head-price button{margin-top: 15px;font-size: 15px;line-height: 25px;}
    .triple-head-price button img{width: 20px;}
    #pizza_size{width: 200px !important;height: 200px !important;margin-top: 0px;filter: unset;}
    .pizza-rotate{margin-top: 5px;height: 200px;}
    .one-topping{margin: 20px 5px;}
    .one-topping-image{width: 70px; height: 70px;}
    .one-topping-image img{width: 20px;height: 20px;}
    .magic-topping{margin-left: 55px;}
    .extra-topping{height: 150px;padding: 30px 0 20px 0;}
    .extra-topping-list{margin-top: 10px;border-left: #52342944 solid 2px;border-right: #52342944 solid 2px;max-height: unset;overflow-y: scroll;height: 100%;}
    .crust-image{height: 50px;width: 50px;}
    .crust-image img{height: 20px;width: 20px;}
    .extra-option{margin-top: 15px;}
    .delivery-details-title{font-size: 12px;line-height: 13px;}
    .delivery-details-description{font-size: 10px;line-height: 11px;margin-top: 5px;}




    .s1-cart-left{margin: 0 20px;}
    .s1-cart-left-list{min-width: unset;width: 20%;}
    .cart-item-detail{margin:20px 0;}
    .cart-item-detail-name{font-size: 15px;line-height: 16px;}
    .cart-item-detail-price{font-size: 16px;line-height: 18px;}
    .cart-item-detail-note-text{font-size: 12px;line-height: 13px;}
    .cart-item-detail-quantity img{margin: 0;}
    .cart-item-detail-quantity button{padding: 0;}

    .s1-cart-summary{width: 70%;}
    .s1-cart-right-inner-checkout{width: 100%;margin: 0;padding: 10px 30px;align-items: center;}
    .s1-cart-summary-title{padding: 5px 15px;font-size: 18px;}
    .s1-cart-summary-price-left{font-size: 16px;padding: 0;}
    .s1-cart-summary-price-right{font-size: 17px;margin-left: 50px;}
    .s1-cart-summary-price{padding: 0;}
    .s1-cart-summary-total{padding: 0;}
    .s1-cart-summary-total-left{font-size: 16px;}
    .s1-cart-summary-total-right{font-size: 17px;margin-left: 50px;}
    .user-data{margin-top: 0;}
    .user-data-detail-1{font-size: 14px;line-height: 15px;}
    .user-data-detail-2{font-size: 14px;line-height: 15px;}
    .user-data-detail-3{font-size: 14px;line-height: 15px;}
    #checkout_summary_div{width: 100% !important;}
    
    .bitcoin-modal{margin-top: 20px;}
    .bitcoin-modal-imgs{width: 50px;height: 50px;}

    #search_box_div{font-size: 32px !important;}
    .search-results{height: 450px;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;border-top: 2px solid #52342944;border-bottom: 2px solid #52342944;}




    .modal-textarea{width: 90%;}


    .notification-modal{width: 92%;right: 10px;top:20px;}
    .notification-modal-inner {padding: 30px 22px;}
    .fm-head-left{font-size: 14px;line-height: 15px;}
    .cart-element-left img{width: 30px;height: 30px;}
    .cart-element-name{font-size: 14px;line-height: 15px;}

    .ReactModal__Overlay--after-open{display: flex;justify-content: center;}
    .modal-dialog{width: 100%;}
    .ingredients_dialog{width: 95%;left: unset;margin: auto;}
    .ingredients-modal{width: 95%;height: 400px;margin: auto;}
    .ingredients-modal-inner{padding: 0 20px;}
    .ingredients-details-title{font-size: 14px;line-height: 15px;}
    .ingredients-details-title-right{font-size: 16px;line-height: 17px;}
    .add-to-cart-button{width: 80%;font-size: 18px;line-height: 22px;margin: auto;margin-top: 20px;margin-bottom: 20px;padding: 10px 0;}

    .delivery-modal{margin: auto}
    .delivery-modal-title{font-size: 20px;margin-bottom: 10px;}

    .checkoutNow-modal-inner{margin: 0;width: 85%;}
    #checkoutNow_dialog{max-width: unset;width: 100%;}
    .checkoutNow-modal-map{width: 100%;}
    .checkoutNow-modal-info-double{flex-direction: column;width: 100%;}
    .checkoutNow-modal-info-name{width: 100%;}
    .checkoutNow-modal-info-telp{width: 100%;}
    .checkoutNow-modal-info-address{font-size: 16px;line-height: 18px;}
    .checkoutNow-modal-info-name input{font-size: 14px;line-height: 15px;margin: 0;}
    .checkoutNow-modal-info-telp input{font-size: 14px;line-height: 15px;padding: 10px 7px;}
    .checkoutNow-modal-info-address input{font-size: 14px;line-height: 15px;padding: 10px 7px;}
    .checkoutNow-modal-button{width: 40%;height: 50px;font-size: 18px;}

    #payment_dialog{max-width: unset;width: 100%;}
    .delivery-modal-title-small{margin-bottom: 0;}
    .checkoutNow-modal-info-addres{width: 90%;}
    .s1-cart-summary-modal{width: 90%;}

    .thx-modal{max-width: unset;width: 80%;height: 250px;padding: 10px 10px 10px 20px;}
    .modal-x{left: 85%;}
    .feedback-modal{margin-top: 20px; max-width: unset;width: 90%;height: 500px;margin-left: 20px;}
    .feedback-modal-inner{padding: 20px 30px;}
    .modal-double-bottom{flex-direction: column;width: 100%;}
    .modal-feedback-send{margin: 30px 0;}
    .modal-feedback-title{font-size: 14px;line-height: 16px;}
    .modal-input-name-title{font-size: 14px;line-height: 16px;}
    .modal-input-area{font-size: 12px;line-height: 14px;}
    .modal-title{font-size: 18px;line-height: 20px;margin-bottom: 10px;}
 }
